.backdrop{
	z-index: 99998;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
    .spinner{
        width: 40px;
        height: 40px;
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 99999;
        i{
            background: #ffffff;
        }
    }
}